node_modules/
npm-debug.log*

src/config/baseline-template.generated.js

.opencode/state/

dist/*
!dist/.gitkeep

release/devai-aidd-plugin/latest/*
!release/devai-aidd-plugin/latest/.gitkeep

release/devai-aidd-plugin/versions/*
!release/devai-aidd-plugin/versions/.gitkeep
